.edit_new_address,.add_new_address{
height: 2.7rem;
width: 100%;
line-height: 2.7rem;
background-color: rgba(228, 0, 127, 1);
color: rgba(255, 255, 255, 1);
font-size: 14px;
text-align: center;
box-shadow: 0px -1px 8px 0px rgba(228, 0, 127, 1);
font-family: Roboto;
position: fixed !important;
bottom:0 !important;

}
.add_new_address{
    z-index: 222;
}
.edit_new_address{
    z-index: 333 !important;
}
.default_address{
    background-color: #ffffff;
    padding-bottom: 1rem;
}
.small_address{
    top: 1rem;
    left: 1rem;
    width: 30px;
    height: 1rem;
    line-height: 15px;
    border-radius: 2px;
    background-color: rgba(228, 0, 127, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    text-align: center;
    font-family: Microsoft Yahei;
}
.getAddress{
    width: 100%;
    margin-top:1.2rem;
    margin-left: 1rem;
    color: rgba(170, 170, 170, 1);
    font-size: 0.8rem;
    line-height: 0.5rem;
    text-align: left;
    font-family: SourceHanSansSC-regular;

}
.button_address_delete{
left: 8rem;
top: 1rem;
width: 4rem;
height: 2rem;
line-height: 2rem;
border-radius: 4px;
color: rgba(170, 170, 170, 1) !important;
font-size: 12px;
text-align: center;
font-family: Microsoft Yahei;
border: 1px solid rgba(228, 0, 127, 1);

}
.button_address_edit{
    left: 12.7rem;
    top: -1rem;
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 4px;
    color: rgba(170, 170, 170, 1) !important;
    font-size: 12px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(170, 170, 170, 1);
    
}
.button_address_default{
    left: 280px;
    top: -3rem;
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 4px;
    color: rgba(228, 0, 127, 1);
    font-size: 12px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(228, 0, 127, 1) !important;
    
}
.line{
margin-left: 1rem;
bottom: 0;
width: 90%;
height: 1px;
border: 1px solid rgba(187, 187, 187, 1);
background: rgba(187, 187, 187, 1);
}

.common_Line{
    border-bottom: rgba(170, 170, 170, 1) 1px solid;
    width: 90%;
    margin:0 auto;
}